In [1]:
import pandas as pd


# File to Load (Remember to change these)
diabetes_indicators_to_load = "diabetes_binary_health_indicators_Y.csv"

In [2]:
# 1. Create a DataFrame for the 201908-citibike-tripdata data. 

diabetes_Y_df = pd.read_csv(diabetes_indicators_to_load)

In [3]:
# 2. Check the datatypes of your columns. 
diabetes_Y_df.dtypes

Diabetes_binary         object
HighBP                   int64
HighChol                 int64
CholCheck                int64
BMI                      int64
Smoker                   int64
Stroke                   int64
HeartDiseaseorAttack     int64
PhysActivity             int64
Fruits                   int64
Veggies                  int64
HvyAlcoholConsump       object
AnyHealthcare            int64
NoDocbcCost              int64
GenHlth                  int64
MentHlth                 int64
PhysHlth                 int64
DiffWalk                 int64
Sex                      int64
Age                      int64
Education                int64
Income                  object
dtype: object

In [5]:
diabetes_Y_df.head(10)

,Diabetes_binary,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,...,AnyHealthcare,NoDocbcCost,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income
0,Diabetes,1,1,1,30,1,0,1,0,1,...,1,0,5,30,30,1,0,9,5,"$10,000"
1,Diabetes,0,0,1,25,1,0,0,1,1,...,1,0,3,0,0,0,1,13,6,"$75,999"
2,Diabetes,1,1,1,28,0,0,0,0,0,...,1,0,4,0,0,1,0,11,4,"$50,000"
3,Diabetes,0,0,1,23,1,0,0,1,0,...,1,0,2,0,0,0,1,7,5,"$50,000"
4,Diabetes,1,0,1,27,0,0,0,1,1,...,1,0,1,0,0,0,0,13,5,"$25,000"
5,Diabetes,1,1,1,37,1,1,1,0,0,...,1,0,5,0,0,1,1,10,6,"$35,000"
6,Diabetes,1,1,1,28,1,0,1,0,0,...,1,0,4,0,0,0,1,12,2,"$25,000"
7,Diabetes,1,1,1,27,1,0,0,0,1,...,1,0,4,20,20,1,0,8,4,"$75,000"
8,Diabetes,1,1,1,34,1,1,0,1,0,...,1,0,4,0,7,1,0,9,5,"$25,000"
9,Diabetes,1,1,1,24,1,0,0,0,0,...,1,0,2,0,0,0,0,12,3,"$20,000"

In [6]:
# Drop empty rows
diabetes_Y_df.dropna()

,Diabetes_binary,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,...,AnyHealthcare,NoDocbcCost,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income
0,Diabetes,1,1,1,30,1,0,1,0,1,...,1,0,5,30,30,1,0,9,5,"$10,000"
1,Diabetes,0,0,1,25,1,0,0,1,1,...,1,0,3,0,0,0,1,13,6,"$75,999"
2,Diabetes,1,1,1,28,0,0,0,0,0,...,1,0,4,0,0,1,0,11,4,"$50,000"
3,Diabetes,0,0,1,23,1,0,0,1,0,...,1,0,2,0,0,0,1,7,5,"$50,000"
4,Diabetes,1,0,1,27,0,0,0,1,1,...,1,0,1,0,0,0,0,13,5,"$25,000"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35341,Diabetes,0,1,1,37,0,0,0,0,0,...,1,0,4,0,0,0,0,6,4,"$10,000"
35342,Diabetes,0,1,1,29,1,0,1,0,1,...,1,0,2,0,0,1,1,10,3,"$50,000"
35343,Diabetes,1,1,1,25,0,0,1,0,1,...,1,0,5,15,0,1,0,13,6,"$25,000"
35344,Diabetes,1,1,1,18,0,0,0,0,0,...,1,0,4,0,0,1,0,11,2,"$25,000"
35345,Diabetes,1,1,1,25,0,0,1,1,1,...,1,0,2,0,0,0,0,9,6,"$15,000"